@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aofzy2');
  src:  url('fonts/icomoon.eot?aofzy2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aofzy2') format('truetype'),
    url('fonts/icomoon.woff?aofzy2') format('woff'),
    url('fonts/icomoon.svg?aofzy2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
  color: white;
}
.icon-key:before {
  content: "\e98d";
  color: white;
}
